<!doctype html>
<html class="textent">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav class="header1" class="textcent">
        <img src={{"logo.svg" | relative_url}} class="center1">
    {% include navigation.html %}
    </nav>
  <nav1>
    {{ content }}
  <img src={{"logo.svg" | relative_url}} class="center"> 
  </nav1>  
</body>

    

  <div class="circle dived">
    <div class="text">HELLO</div>
  </div>
  <a href="https://tskoli.is/" target="_blank">
  <section class="animation-box">
    <div class="first-text">Viltu finna frábæran skóla fyrir þig</div>
    <div class="second-text">Eitthvað fyrir gáfað fólk eins og þig</div>
    <div class="third-text">Þá höfum við frábæran skóla handa þér</div>
    <div class="fourth-text">Komdu á https://tskoli.is/ </div>
    <div class="fifth-text"> Og hafðu samband</div>
  </section>
</a>
</html>
